/* ============= Google fonts importation */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,500;1,100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: cornsilk;
}


/* ===============Navbar styling========================== */

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    margin-bottom: 20px;
    color: white;
}


/* ===============End of Navbar styling========================== */

#hanburger {
    margin-bottom: 5px;
}

.features-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.all-featute-btn {
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: cornsilk;
    border: none;
    background-color: rgb(31, 29, 29);
    border: 1px solid rgb(59, 56, 56);
    font-size: 15px;
}

#react.js {
    padding: 5px;
    border-radius: 15px;
}


/* ================== Main body styling ========================= */

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(249, 249, 249, 255);
    padding-top: 95px;
    background-color: black;
}


/* ================== End of Main body styling ========================= */

.main-content {
    margin-top: 5px;
    margin-left: 55px;
    height: 100vh;
    /* margin-bottom: 5px; */
    background-color: black;
}

.mid-item {
    margin-bottom: 15px;
}

.main-content iframe {
    width: 55vw;
    height: 75vh;
}

.side-bar {
    background-color: black;
    margin-left: 25px;
    margin-top: 5px;
    width: 30vw;
}

.video-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
}

.inner-item {
    padding: 10px;
}

.side-bar iframe {
    width: 15vw;
    height: 25vh;
    margin-bottom: 10px;
}

.left-icons {
    display: flex;
    justify-content: space-between;
}


/* ==================== styling youtube log ======================== */

#logo {
    width: 8.5vw;
    height: 9.5vh;
    align-self: center;
    color: cornsilk;
    padding-left: 5px;
}


/* ==================== End of styling youtube log ======================== */

.added-details {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-gap: 5px;
}

.images-like {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 15px;
}

.total-views {
    grid-column: 1 / 4;
    /* margin-right: 15px; */
    margin-right: 10px;
}

.user-details {
    display: flex;
}

.user-details .more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 255px;
}

.user-details .more #button-id {
    background-color: crimson;
    color: white;
    height: 8vh;
    width: 10vw;
    margin-right: 2px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}

.user-details i {
    margin-right: 20px;
    margin-left: 15px;
}

.user-details p {
    margin-top: 5px;
}

hr {
    margin-top: 35px;
    margin-bottom: 15px;
    border: 0 none;
    height: 5px;
    border-bottom: 1px solid rgb(180, 173, 173);
}

.sorted-by {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.sorted-by .comment-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    /* background-color: rgb(118, 106, 129); */
    width: 45vw;
}

.sorted-by .comment-line p {
    border-bottom: 1px solid rgb(180, 173, 173);
    margin-bottom: 5px;
    padding-top: 20px;
    width: 50vw;
}

.sorted-by .more {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 35vw;
}

.inner-sorted img {
    height: 30px;
    margin-right: 5px;
}

.inner-sorted {
    display: flex;
    justify-content: center;
    align-content: center;
}

.inner-sorted #sorted {
    width: 10vw;
    padding-top: 3px;
}

#sort-comment {
    grid-column: 1/3;
}

.sorted-by .comment-line img {
    width: 4vw;
    margin-right: 5px;
    border-radius: 50%;
}

.user-comment-line {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
}

.user-comment-line img {
    width: 4vw;
    height: 10vh;
    margin-right: 5px;
    border-radius: 50%;
}

.user-comment-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-comment-details p {
    margin-bottom: 5px;
}

.user-comment-details .likes-dislikes {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.user-comment-details .likes-dislikes img {
    width: 2vw;
}

.user-comment-details .likes-dislikes p {
    padding-top: 15px;
    margin: 5px;
}

.comment-line {
    display: flex;
    flex-direction: column;
}

h4 {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.more-details {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 77px;
}

.more-details p {
    margin-top: 15px;
}


/* ===================== styling for search box icon on the navbar================= */

#search-icon {
    background-color: rgb(78, 75, 75);
    color: white;
    padding: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 25px;
    width: 2vw;
    position: relative;
    right: 67px;
    border: 2px solid rgb(59, 56, 56);
}


/* ===================== End of styling for search box icon on the navbar================= */


/* ===================== styling for search on the navbar================= */

.search-box {
    width: 47vw;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid rgb(59, 56, 56);
    height: 6.5vh;
    margin-left: 15px;
    background-color: black;
    color: blanchedalmond;
    font-size: 15px;
}


/* ===================== End of tyling for search on the navbar================= */

#mic-icon {
    border-radius: 80%;
    background-color: rgb(8, 8, 8);
    padding: 12px;
    margin-left: 10px;
    position: relative;
    right: 70px;
}

.rigth-icons i {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}


/* @media screen and (min-width:360px) { */


/* .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
} */


/* .search-box {
    width: 58vw;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid rgb(233, 229, 229);
    height: 3.5vh;
    margin-left: 10px;
    margin-top: 23px;
} */


/* #mic-icon {
    display: none;
}

.rigth-icons i {
    display: none;
}

#hanburger {
    display: none;
} */


/* #logo {
    width: 15.5vw;
    height: 3vh;
    align-self: center;
}

#search-icon {
    background-color: #e9e5e5;
    color: black;
    padding: 8px;
    padding-right: 40px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    padding-left: 25px;
    width: 1vw;
    height: 6.5vh;
    position: relative;
    left: 155px;
    bottom: 25px;
    border: 2px solid #e9e5e5;
} */


/* } 



/* #search-icon {
    background-color: #e9e5e5;
    color: black;
    padding: 8px;
    padding-right: 40px;
    padding-bottom: 2.5px;
    padding-top: 6.5px;
    padding-left: 25px;
    width: 2vw;
    height: 3.3vh;
    position: relative;
    right: 70px;
    bottom: 1px;
    border: 2px solid #e9e5e5;
} */


/* } */


/* @media screen and (min-width:375px) { */


/* .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 15px;
}

.search-box {
    width: 65vw;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid rgb(233, 229, 229);
    height: 3.5vh;
    margin-left: 10px;
    margin-top: 25px;
} */


/* #mic-icon {
    display: none;
}

.rigth-icons i {
    display: none;
}

#hanburger {
    display: none;
}

#logo {
    width: 20.5vw;
    height: 4vh;
    align-self: center;
    margin-top: 2px;
} */


/* 
#search-icon {
    background-color: #e9e5e5;
    color: black;
    padding: 8px;
    padding-right: 40px;
    padding-bottom: 2.5px;
    padding-top: 1.5px;
    padding-left: 25px;
    width: 2vw;
    height: 3.3vh;
    position: relative;
    left: 190px;
    bottom: 21px;
    border: 2px solid #e9e5e5;
} */


/* } */


/* @media screen and (min-width:375px) { */


/* .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 15px;
}

.search-box {
    width: 65vw;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid rgb(233, 229, 229);
    height: 3.5vh;
    margin-left: 10px;
    margin-top: 25px;
} */


/* 
#mic-icon {
    display: none;
}




#logo {
    width: 20.5vw;
    height: 4vh;
    align-self: center;
    margin-top: 2px;
} */


/* #search-icon {
    background-color: #e9e5e5;
    color: black;
    padding: 8px;
    padding-right: 40px;
    padding-bottom: 2.5px;
    padding-top: 1.5px;
    padding-left: 25px;
    width: 2vw;
    height: 3.3vh;
    position: relative;
    left: 190px;
    bottom: 27px;
    border: 2px solid #e9e5e5;
} */


/* } */